* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
  }

.toDoInput {
    display: flex;
}

table, td {
    border-collapse: collapse;
    border: 1px solid black
}

.toDoInputItem {
    width: 300px;
}


